{:paths ["src"]

 :deps {criterium/criterium {:mvn/version "0.4.4"}
        net.cgrand/xforms {:mvn/version "0.18.2"}
        net.mikera/core.matrix {:mvn/version "0.62.0"}
        org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/math.combinatorics {:mvn/version "0.1.4"}
        ubergraph/ubergraph {:mvn/version "0.8.1"}}

 :aliases {:dev {:extra-deps {nrepl/nrepl {:mvn/version "0.4.5"}
                              org.clojure/tools.namespace {:mvn/version "0.2.11"}}}}

 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://clojars.org/repo"}}}
