{:paths ["src"]

 :aliases {:dev {:extra-deps {nrepl/nrepl {:mvn/version "0.4.5"}
                              org.clojure/tools.namespace {:mvn/version "0.2.11"}}}}

 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://clojars.org/repo"}}}
